theme = light:GruvboxLight,dark:GruvboxDark

font-family = "Berkeley Mono"
font-size = 14

mouse-hide-while-typing = true
cursor-style-blink = false
cursor-style = block
adjust-cursor-thickness = 300%

mouse-hide-while-typing = true

# don't ask when closing
confirm-close-surface = false

window-theme = system

# always save the state of window when quitting
window-save-state = always

shell-integration = fish

# The opacity level (opposite of transparency) of an unfocused split.
# Unfocused splits by default are slightly faded out to make it easier to see
# which split is focused. To disable this feature, set this value to 1.
unfocused-split-opacity = 0.9


# Keybindings

# This works only because I remmapped "Hide Ghostty" in macOS keyboards
# settings to a different keybinding (F9)
# https://github.com/alacritty/alacritty/issues/5346#issuecomment-1055695103
keybind = super+h=goto_split:left
keybind = super+l=goto_split:right
keybind = super+k=goto_split:top
keybind = super+j=goto_split:bottom

keybind = super+right=resize_split:right,30
keybind = super+down=resize_split:down,30
keybind = super+left=resize_split:left,30
keybind = super+up=resize_split:up,30

# open quick terminal
keybind = global:ctrl+escape=toggle_quick_terminal
quick-terminal-animation-duration = 0.1
